/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require twitter/bootstrap
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@import "twitter/bootstrap";

html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: @navbar-height;
	padding-bottom: @navbar-height + @navbar-margin-bottom;
}

.alert:first-of-type {
	margin-top: @navbar-margin-bottom;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: @navbar-height;
	border-top: 1px solid @navbar-default-border;
	padding-top: @navbar-padding-vertical;
	background-color: @navbar-default-bg;
	color: @navbar-default-color;
}

footer a {
	color: @navbar-default-link-color;
}

footer a:hover,
footer a:focus {
	color: @navbar-default-link-hover-color;
	background-color: @navbar-default-link-hover-bg;
}