= bootstrap_navbar(brand: "<%= @app_name.titleize %>", fixed: :top, fluid: true, inverse: true) do
	= bootstrap_nav(navbar: true) do
		= bootstrap_nav_link("Home", root_path, active: controller_name == "home")